* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive, 'Courier New', Courier, monospace;
}

body {
    padding: 90px;
    font-family: "Poppins", serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #343a40;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link1 {
    text-decoration: none;
    color: black;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover {
    background-color: #142027;
    transition: 0.5s;
}

.footer {
    background-color: #343a40;
    padding: 20px;
    text-align: center; 
    margin-top: auto;
    bottom: -90px;
    position: relative;
    width: 100%; 
}

.copy {
    text-align: center;
    color: white;
}
