* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 90px 20px 0;
    height: 100%;
}

.header {
    background-color: #1b2a34;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;

    max-width: 1300px;
    margin: 0 auto;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link1 {
    text-decoration: none;
    color: black;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover {
    background-color: #142027;
    transition: 0.5s;
}
/*me dio pereza areglar lo de las margenes(le toca a daniel)*/

.footer{
    background: #1b2a34;
    padding: 50px;
}

.copy{
    text-align: center;
    color: white;
}