<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Datos Estudiante</h1>
    </header>
        <main>
            <section>
            <form id="formEstu" name="formEstu">
                <div>
                    <label>Codigo estudiante </label>
                    <input type="text" id="codigoEstudiante">
                </div>
                <div>
                    <label> Nombre estudiante </label>
                    <input id="nombreEstudiante" type="text">
                </div>
                <div>
                    <label>Programa </label>
                   <select id="idPrograma" class="programa" required>
                    <option value="1">Ing Sistemas</option>
                    <option value="2">Ing Multimedia</option>
                    <option value="3">Arquitectura</option>
                    <option value="4">Contabilidad</option>
                   </select>
                </div>
                <div>
                    <label> Fecha ingreso </label>
                    <input id="fechaIngreso" type="date">
                </div>
                <div>
                    <label> Hora ingreso </label>
                    <input id="horaIngreso" type="time">
                </div>
                <div>
                    <label> Hora salida </label>
                    <input id="horaSalida" type="time">
                </div>
                <div>
                    <label>Responsables </label>
                   <select id="idResponsable" class="responsables" id="responsables" required>
                    <option value="1">Juan Perez</option>
                    <option value="2">Ana Lopeez</option>
                   </select>
                </div>
                <div>
                    <label>Salas</label>
                   <select id="idSala" class="salas" id="salas" required>
                    <option value="1">201G</option>
                    <option value="2">202H</option>
                    <option value="3">203I</option>
                    <option value="4">301G</option>
                    <option value="5">302H</option>
                    <option value="6">303I</option>
                   </select>
                </div>
             <br><input class="enviar" type="submit" value="Guardar">
            </form>
        </main>
    <script src="../js/estudiante.js"></script>
</body>
</html>