<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Datos Estudiante</h1>
        <main>
            <section>
            <form id="form">
                <div>
                    <label id="codigoEstudiante">Codigo estudiante </label>
                    <input type="text">
                </div>
                <div>
                    <label id="nombreEstudiante"> Nombre estudiante </label>
                    <input type="text">
                </div>
                <div>
                    <label id="idPrograma"> Fecha ingreso </label>
                    <input type="date">
                </div>
                <div>
                    <label id="fechaIngreso"> Hora ingreso </label>
                    <input type="time">
                </div>
                <div>
                    <label id="horaIngreso"> Hora salida </label>
                    <input type="time">
                </div>
                <div>
                    <label id="horaSalida">Programa </label>
                   <select class="programa" id="programas" required>
                    <option value="1">Ing Sistemas</option>
                    <option value="2">Ing Multimedia</option>
                    <option value="3">Arquitectura</option>
                    <option value="4">Contabilidad</option>
                   </select>
                </div>
                <div>
                    <label id="idResponsable">Responsables </label>
                   <select class="responsables" id="responsables" required>
                    <option value="1">Juan Perez</option>
                    <option value="2">Ana Lopeez</option>
                   </select>
                </div>
                <div>
                    <label id="idSala">Salas</label>
                   <select class="salas" id="salas" required>
                    <option value="1">201G</option>
                    <option value="2">202H</option>
                    <option value="3">203I</option>
                    <option value="4">301G</option>
                    <option value="5">302H</option>
                    <option value="6">303I</option>
                   </select>
                </div>
             <br><input class="enviar" type="submit" >
            </form>
            </section>
        </main>
    </header>
</body>
</html>