<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <header>
    <h1>Bienvenido</h1>
</header>
<section>
    <div class="#">
        <nav>
            <ul>
                <li><a href="DatosEstudiantes.html">Registrar estudiante</a></li>
                <li><a href=""></a>Ingresos</li>
                <li><a href="">Fechas</a></li>
            </ul>
        </nav>
    </div>
</section>
</body>
</html>
